body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
}

.bg-image{
    background-image: url("../img/background-pic.png");
    background-color: rgb(86, 124, 62);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
   text-decoration: none;
   color: rgb(252, 223, 60);
   font-weight: bold;
   font: size 3rem;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a:hover{
    color: rgb(196, 123, 90);
}

a.nav-link:hover {
    color: rgb(196, 123, 90);
}

/*NAVBAR */

.py-3 {
    padding-bottom: 0rem!important;
} 

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-evenly;
}

.logo{
    margin-top: 1rem;
    margin-left: 0.4rem;
}

.nav-link{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font-size: 1.4rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: rgb(252, 223, 60);
    background-color: rgb(196, 123, 90);
    border-color: black;
}

.nav-item{
    margin: 0.5rem;
}
collapse .navbar-collapse{
    align-self: flex-end;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgb(252, 223, 60);
    border: 1px solid #000;
    border-radius: 0.3rem;
    transition: box-shadow .15s ease-in-out;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    --bs-navbar-toggler-icon-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

navbar-expand-lg .navbar-collapse {
    display: flex!important;
    justify-content: space-evenly;
    align-self:end;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav{
    align-items: center;
}

/*BODY*/
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1250px;
}

/*********************************************HOMPAGE*****************************/

/*TICKETS*/
#ticket-div{
    background-color: rgb(73, 127, 39);
    padding: 2rem;
    
}

#ticket-title{
    align-self: flex-start;
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    align-self: center;
    
}

.ticket-icon{
   margin-right: 2em;
}

#ticket-content{
    justify-content: center;
}

/*MAP*/
#map-div{
    background-color: rgb(73, 127, 39);
    padding: 2rem;
    
}

#map-title{
    align-self: flex-start;
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    align-self: center;
    
}

.map-icon{
   margin-left: 2em;
}

#map-content{
    justify-content: center;
}

/*SCHEDULE*/
#schedule-div{
    background-color: rgb(73, 127, 39);
    padding: 2rem;
    
}

#schedule-title{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    align-self: center;
    
}

#schedule-content{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.schedule-time{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

/*ANIMALS*/
#animals-div{
    background-color: rgb(73, 127, 39);
}

#animals-title{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    align-self: center;
    padding-bottom: 1rem;
    
}

#animals-content{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.animal-pic{
max-width: 9rem;
max-height: 9rem;
padding-bottom: 0.5rem;
}

/*ADDRESS*/
#adress-div{
    background-color: rgb(73, 127, 39);
    padding: 2rem;   
}

#adress-title{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;    
}

#adress-content{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.adress{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

iframe{
    max-width: max-content;
}
p.adress{
    font-size: 1.2rem;
    text-decoration: underline;
}

p.anreise{
    color:rgb(252, 223, 60);
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 1.5rem;
    margin-bottom: 0;
   
}

p.metro{
    color:rgb(252, 223, 60);
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 1.5rem;
    margin-bottom: 0;
    text-align: left;
   
    
}

/* SOCIAL MEDIA DIV*/
.social{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

#social-div{
    background-color: rgb(73, 127, 39);
    padding: 1.5rem;
    
}

#social-content{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a.social-icon{
    text-decoration-color: red;
}


/*FOOTER*/
#footer{
    background-color: rgb(73, 127, 39);
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content{
    padding: 0.5rem;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
a.footer-list{    
    color: rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
}
.left-footer{
    padding: 0.5rem;
}
.center-footer{
padding: 0.5rem;
text-align: center;
}

.logo-footer{
    padding: 0.5rem;
    margin-bottom: 0.5rem   ;
}

/********************************** ABOUT US *********************************/
#contact-title{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    align-self: center;
    
}

/*********************************** TIGER **************************************************/
#tiger-title{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font-size: 2rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    align-self: center;
    padding-bottom: 1rem;
}

#tiger-div{
    background-color: rgb(73, 127, 39);
}
.accordion-item {
    background-color: rgb(252, 223, 60);
    border: 1px solid rgba(0,0,0,.125);
}

.accordion-button:not(.collapsed) {
    background-color: rgb(73, 127, 39);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.accordion-item:last-of-type .accordion-button.collapsed {
    background-color: rgb(73, 127, 39);
}

.accordion-button:focus {
    border-color:none;
    box-shadow: 0 0 0 0.25rem rgba(43, 108, 54, 0.45);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
