body{
    background-image: url("../img/background-pic.png");
    background-color:rgb(122, 209, 231);
    background-repeat: no-repeat;
        background-attachment: fixed;
    
}

a{
   text-decoration: none;
}

a.nav-link:hover {
    color: rgb(196, 123, 90);
}

/*NAVBAR */

.py-3 {
    padding-bottom: 0rem!important;
} 

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-evenly;
}

.logo{
    margin-bottom: 1em;
    margin-left: 10px;
}

.nav-link{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font-size: larger;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: rgb(252, 223, 60);
    background-color: rgb(196, 123, 90);
    border-color: black;
}

/*BODY*/
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1250px;
}

/*********************************************HOMPAGE*****************************/

/*TICKETS*/
#ticket-div{
    background-color: rgb(62, 124, 68);
    padding: 2rem;
    
}

#ticket-title{
    align-self: flex-start;
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    align-self: center;
    
}

.ticket-icon{
   margin-right: 2em;
}

#ticket-content{
    justify-content: center;
}

/*MAP*/
#map-div{
    background-color: rgb(62, 124, 68);
    padding: 2rem;
    
}

#map-title{
    align-self: flex-start;
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    align-self: center;
    
}

.map-icon{
   margin-left: 2em;
}

#map-content{
    justify-content: center;
}

/*SCHEDULE*/
#schedule-div{
    background-color: rgb(62, 124, 68);
    padding: 2rem;
    
}

#schedule-title{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    align-self: center;
    
}

#schedule-content{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.schedule-time{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

/*ANIMALS*/
#animals-div{
    background-color: rgb(62, 124, 68);
}

#animals-title{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    align-self: center;
    padding-bottom: 1rem;
    
}

#animals-content{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.animal-pic{
max-width: 9rem;
max-height: 9rem;
padding-bottom: 0.5rem;
}

/*ADDRESS*/
#adress-div{
    background-color: rgb(62, 124, 68);
    padding: 2rem;
    
}

#adress-title{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    align-self: center;
    
}

#adress-content{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.adress{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

/* SOCIAL MEDIA DIV*/
.social{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

#social-div{
    background-color: rgb(62, 124, 68);
    padding: 1.5rem;
    
}

#social-content{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a.social-icon{
    text-decoration-color: red;
}


/*FOOTER*/
#footer{
    background-color: rgb(62, 124, 68);
    color:rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
}

.footer-content{
    padding: 0.5rem;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
a.footer-list{    
    color: rgb(252, 223, 60);
    font-weight: bold;
    font: size 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
}
.left-footer{
    padding: 0.5rem;
}
.center-footer{
padding: 0.5rem;
text-align: center;
}

.logo-footer{
    margin-bottom: 1em;
    margin: 0.5rem;
    padding: 0.5rem;
    
}
/*********************************** TIGER **************************************************/
#tiger-title{
    color:rgb(252, 223, 60);
    font-weight: bold;
    font-size: 2rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    align-self: center;
    padding-bottom: 1rem;
}

#tiger-div{
    background-color: rgb(62, 124, 68);
}
.accordion-item {
    background-color: rgb(96, 150, 101);
    border: 1px solid rgba(0,0,0,.125);
}

.accordion-button:not(.collapsed) {
    background-color: rgb(62, 124, 68);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.accordion-item:last-of-type .accordion-button.collapsed {
    background-color: rgb(62, 124, 68);
}

.accordion-button:focus {
    border-color:none;
    box-shadow: 0 0 0 0.25rem rgba(43, 108, 54, 0.45);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
